Makefile
moc_*.cpp
qrc_*.cpp
*.moc
*.o
doc/doxyfilter
examples/example_0_connected/example_0_connected
examples/example_0_connected_symbian/example_0_connected_symbian
examples/example_1_echoClient/example_1_echoClient
examples/example_2_rosterHandling/example_2_rosterHandling
examples/example_3_transferHandling/example_3_transferHandling
examples/example_5_rpcInterface/example_5_rpcInterface
examples/example_6_rpcClient/example_6_rpcClient
examples/example_7_archiveHandling/example_7_archiveHandling
examples/example_8_server/example_8_server
examples/example_9_vCard/example_9_vCard
src/libqxmpp.*
src/pkgconfig
tests/qxmpparchiveiq/tst_qxmpparchiveiq
tests/qxmppbindiq/tst_qxmppbindiq
tests/qxmppdataform/tst_qxmppdataform
tests/qxmppdiscoveryiq/tst_qxmppdiscoveryiq
tests/qxmppentitytimeiq/tst_qxmppentitytimeiq
tests/qxmppiq/tst_qxmppiq
tests/qxmppjingleiq/tst_qxmppjingleiq
tests/qxmppmessage/tst_qxmppmessage
tests/qxmppnonsaslauthiq/tst_qxmppnonsaslauthiq
tests/qxmpppresence/tst_qxmpppresence
tests/qxmpppubsubiq/tst_qxmpppubsubiq
tests/qxmppregisteriq/tst_qxmppregisteriq
tests/qxmppresultset/tst_qxmppresultset
tests/qxmpprosteriq/tst_qxmpprosteriq
tests/qxmpprpciq/tst_qxmpprpciq
tests/qxmpprtppacket/tst_qxmpprtppacket
tests/qxmppsasl/tst_qxmppsasl
tests/qxmppserver/tst_qxmppserver
tests/qxmppsessioniq/tst_qxmppsessioniq
tests/qxmppstanza/tst_qxmppstanza
tests/qxmppstreamfeatures/tst_qxmppstreamfeatures
tests/qxmppstunmessage/tst_qxmppstunmessage
tests/qxmpputils/tst_qxmpputils
tests/qxmppvcardiq/tst_qxmppvcardiq
tests/qxmppversioniq/tst_qxmppversioniq
